@import "./variables.scss";
.header {
    background-color: $header-bg-color;
    border-bottom: 1px solid rgba(255,255,255,0.2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    height: 42px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100; 

    .logo__img {
        width: 42px;
        height: 40px;
        border-radius: 50%;
    
        background-image: url(../assets/img/logo.ico);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    .logo__text {
        width: 330px;
        height: 40px;
        background-image: url("https://readme-typing-svg.herokuapp.com?font=Dancing+Script&size=22&duration=3000&pause=500&color=DAB08B&center=true&vCenter=true&repeat=false&width=330&height=40&lines=%F0%9F%92%95+ponyo+and+sasuke+%F0%9F%92%95;%C2%A9+thanhngan22+%C2%A9");
    }


    .Home-navbar  {
        ul {
            li {
                a {
                    border-color: $header-bg-color;

                    &:hover {
                        background-color: rgba(52, 49, 49, 0.2);
                    // background-color: rgba(0,0,0,0.4);

                    }
                }

                a[aria-current="page"] {
                    color: coral;
                    border-bottom: 2px solid coral;

                    // background-color: rgba(0,0,0,0.4);
                    background-color: rgba(75, 85, 99, 0.2);


                }
            }
        }

    } 
    
}

// %F0%9F%A7%90+let's+explore+what+my+world+has+%F0%9F%98%89;
