$gray: #2d2d2d;


.login--container {
    .login--header {
        padding-top: 40px;
        padding-bottom: 24px;

        .login--header__logo {
            background-image: url(../assets/img/ponyo03.jpg);

            width: 100px;
            height: 100px;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            border-radius: 50%;

            margin: 0 auto;

        }
    }

    .login--auth__form {

        
    }

    .main--form {
        width: 300px;
        height: 240px;
    }
}