.register--container {
    .register--header__logo {

        margin:auto;
        width: 120px;
        height: 120px;
        background: url(../assets/img/ponyo02.jpg) no-repeat center center;
        background-size: contain;
        border-radius: 25%;
    }

    .main--form {
        width: 300px;
        height: 310px;
    }

    .iconFB {
        background: url(../assets/img/iconFB2.png) no-repeat center center;
        background-size: contain;
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }

    .iconGG {
        background: url(../assets/img/iconGG.png) no-repeat center center;
        background-size: contain;
        width: 40px;
        height: 40px;
        border-radius: 50%;


    }

    .iconGH {
        background: url(../assets/img/iconGH.png) no-repeat center center;
        background-size: contain;
        width: 40px;
        height: 40px;
        border-radius: 50%;


    }
}